<h1>Empresa</h1>
<div class="Box">

    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">¿Cómo podemos co-crear junto a ustedes?</p>
            <p>
                Al incorporar el servicio de BumerangData desde el primer momento comienza una Co-creacion, labores interdependientes se inician por parte del Cliente y de parte de Bumerang Data ¿Por qué cocrear? Tradicionalmente, las compañías solían usar las encuestas,
                entrevistas o los focus group para conocer a sus clientes y usuarios. La cocreación va más allá, ya que no solo se trata de buscar el nivel de satisfacción o la opinión de un cliente, sino que integra al cliente en el proceso de diseño.
                De esta manera, no solo dejamos de correr el riesgo de malinterpretar el feedback de nuestros usuarios, sino que estos están aportando ideas al mismo nivel que los diseñadores. Además, los modelos de cocreación no solo involucran a los
                consumidores o usuarios para generar valor, sino que buscan a todas las partes interesadas (proveedores, vendedores, clientes etc.) de todos los niveles en el desarrollo de su producto o servicio. Cuantos más agentes distintos integremos,
                más nivel de concreción y empatía por lo tanto, más probabilidades de generar un valor innovador.</p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">¿Cómo se puede mejorar la calidad de vida con una empresa recién partiendo?</p>
            <p>
                La calidad de vida que una empresa puede proveer, nace del funcionamiento diario del negocio. Creando equipos y relaciones con nuestros empleados, requiere de tiempo, recursos y energía. Por lo tanto es necesario coordinar y encontrar un equilibrio entre
                las tareas presenciales y remotas, asignaciones de tareas y responsabilidades.
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">Disponibilidad de tiempo </p>
            <p>
                Al regularizar y optimizar unos de los procesos mas extensos y demandante en términos de tiempos, reducimos significantemente el costo de estos procesos diarios. No solamente reducimos el tiempo que se requiere para variedades de actividades sino que
                también aumentamos la efectividad y calidad de vida de los responsables.</p>
        </div>
        <div class="faq_question faq-question--5">
            <p class="faq-question-title">Eficiencia Operacional</p>
            <p>
                La eficiencia operacional se manifiesta en la práctica de la ejecución correcta y eficiente de procesos del negocio. El objetivo es como mejora la manera en que se realiza algún servicio, se produce un producto o se genera valor para la empresa.
                Orientamos a la empresa a mejorar la forma en que se realizan ciertos procesos totalmente esenciales para el negocio.
            </p>
        </div>
    </div>