<div class="Box">
    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">¿Cómo podemos co-crear junto a ustedes?</p>
            <p>
                Al incorporar el servicio de BumerangData desde el primer momento comienza una Co-creacion labores interdependientes se inician por parte del Cliente y de parte de Bumerang Data ¿Por qué cocrear? Tradicionalmente, las compañías solían usar las encuestas,
                entrevistas o los focus group para conocer a sus clientes y usuarios. La cocreación va más allá, ya que no solo se trata de buscar el nivel de satisfacción o la opinión de un cliente, sino que integra al cliente en el proceso de diseño.
                De esta manera, no solo dejamos de correr el riesgo de malinterpretar el feedback de nuestros usuarios, sino que estos están aportando ideas al mismo nivel que los diseñadores. Además, los modelos de cocreación no solo involucran a los
                consumidores o usuarios para generar valor, sino que buscan a todas las partes interesadas (proveedores, vendedores, clientes etc.) de todos los niveles en el desarrollo de su producto o servicio. Cuantos más agentes distintos integremos,
                más nivel de concreción y empatía por lo tanto, más probabilidades de generar un valor innovador.</p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">¿Cómo se puede mejorar la calidad de vida con una empresa recién partiendo?</p>
            <p>
                Con coordinacion y equilibrio de tareas presenciales y remotas , asignacion de tareas y responsabilidades presisas y de</p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">¿Cuántas horas reales le dedicaré a mi trabajo? </p>
            <p>
                Las que se acuerden según demande la empresa en directa relacion con la responsabilidad asignada y del apoyo de cyborg bumerangdata </p>
        </div>
        <div class="faq_question faq-question--5">
            <p class="faq-question-title">Pregunta 5</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--6">
            <p class="faq-question-title">Pregunta 6</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
    </div>