<particles id="particles" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<body>
    <div class="Main-Background">
        <div class="Box-Left">
            <h1 class="title">EL FUTURO DE LA GESTIÓN EMPRESARIAL!</h1>
            <a>BumerangData es el primer Cyborg <br> de gestión empresarial de nivel superior!</a>
            <div class="intro">
                <button routerLink="benefits">Conócenos</button>
                <button routerLink="contact">Contáctanos</button>
            </div>
        </div>
        <div class="Box-Right rotatingText">
            <span class="rotatingText-adjective"><a class="box">Inteligencia Artificial</a></span>
            <span class="rotatingText-adjective"><a class="box">Gestor administrativo eficiente</a></span>
            <span class="rotatingText-adjective"><a class="box">Contabilidad en tiempo real condicionado</a></span>
            <span class="rotatingText-adjective"><a class="box">Registro Integral Controlado</a></span>
        </div>
    </div>
</body>
<div class="apps">

    <app-reasons></app-reasons>
</div>