body {
  min-height: 850px;
  width: 100%;
  padding-bottom: 75px;
  background: rgba($color: #E8DFDF, $alpha: 1.0);
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  font-size: 100%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(3.5rem + 1vw);
  --big: calc(6rem + 1vw);
  --special-color: #906272;
  --background-color: #414141;
  --gray-text: #525252;
  scroll-behavior: smooth;
  background-image: url(/assets/img/Background3.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

li,
label,
input,
a,
p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: var(--text);
}

h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0px;
  font-weight: bolder;
  padding-bottom: 10px;
  font-size: var(--header1);
  color: white;
  text-shadow: 2px 2px #2a2a2a41;
}

h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: var(--header2);
}

h3 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: var(--header3);
}

h4,
h5 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: var(--header4);
}

ul {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  list-style: none;
}

a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: rgba(4, 0, 42, 0.589);
  font-size: 1.5vw;
  padding-top: 5px;
  padding-bottom: 10px;

}

.Main-Background {
  height: 100%;
  width: 100%;
  display: flex;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  .Box-Left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .tittle {}

    .intro {
      width: 100%;
      display: flex;
      flex-direction: row;

      button {
        width: 200px;
        background-color: #e9dd36;
        border-radius: 3%;
        border-color: #e8dfdf00;
        color: black;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        font-weight: bolder;
        font-size: 20px;
        z-index: 150;
        margin: 4px 2px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.452);

        &:hover {
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(232, 255, 21, 0.486);
          background-color: #e9dd36;
        }
      }
    }
  }

  .Box-Right {
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;


    img {
      opacity: 20%;
    }
      a {
        padding: 1px;
        font-size: 2.5rem;
    }
  }

}

//ANIMATIONS
.animate__fadeInDown1 {
  animation: fadeInDown ease 1s;
  -webkit-animation: fadeInDown ease 1s;
  -moz-animation: fadeInDown ease 1s;
  -o-animation: fadeInDown ease 1s;
  -ms-animation: fadeInDown ease 1s;
}

.animate__fadeInDown2 {
  animation: fadeInDown ease s;
  -webkit-animation: fadeInDown ease 4s;
  -moz-animation: fadeInDown ease 4s;
  -o-animation: fadeInDown ease 4s;
  -ms-animation: fadeInDown ease 4s;
}

.animate__fadeInDown3 {
  animation: fadeInDown ease 7s;
  -webkit-animation: fadeInDown ease 7s;
  -moz-animation: fadeInDown ease 7s;
  -o-animation: fadeInDown ease 7s;
  -ms-animation: fadeInDown ease 7s;
}

.animate__fadeInDown4 {
  animation: fadeInDown ease 10s;
  -webkit-animation: fadeInDown ease 10s;
  -moz-animation: fadeInDown ease 10s;
  -o-animation: fadeInDown ease 10s;
  -ms-animation: fadeInDown ease 10s;
}

.animate__fadeInDown5 {
  animation: fadeInDown ease 13s;
  -webkit-animation: fadeInDown ease 13s;
  -moz-animation: fadeInDown ease 13s;
  -o-animation: fadeInDown ease 13s;
  -ms-animation: fadeInDown ease 13s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

//RESPONSIVE
@media screen and (max-width: 1200px) {
  .Main-Background {
    flex-direction: column;

    .Box-Left{
      height:60%;
      width: 90%;
      text-align: center;
      a{
        font-size:1.5rem;
      }
      .intro{
        height:100%;
        width:100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
      }
    }
    .Box-Right{
      height:40%;
      width: 90%;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-items: center;
      vertical-align: middle;
      a{
        font-size: 2rem;
      }
    }
  }

  @media screen and (max-width: 842px) {
    .Main-Background {
      flex-direction: column;
  
      .Box-Left{
        padding-bottom: 5%;
       
      }
      .Box-Right{
       
        a{
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Main-Background {
    flex-direction: column;

    .Box-Left{
      padding-bottom: 5%;
     
    }
    .Box-Right{
     
      a{
        font-size: 1.2rem;
      }
    }
  }
}