<particles id="particles" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<body>

    <div class="Main-Background">
        <div class="Box-Left">
            <h1 class="title">EL FUTURO DE LA GESTIÓN EMPRESARIAL!</h1>
            <a>BumerangData es el primer Cyborg <br> de gestión empresarial de nivel superior!</a>
            <div class="intro">
                <button routerLink="solucion">Conocenos</button>
                <button routerLink="contact">Contacto</button>
            </div>
        </div>
        <div class="Box-Right">
            <div class="descriptions">
                <a class="animate__fadeInDown1">Inteligencia Artificial</a>
                <a class="animate__fadeInDown2">Contabildiad en tiempo real</a>
                <a class="animate__fadeInDown3">Gestor administrativo eficiente</a>
                <a class="animate__fadeInDown4">Optimización de la productividad</a>
                <a class="animate__fadeInDown5">Información confiable</a>
            </div>
        </div>
    </div>
</body>