<particles  id= "particles"  [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<body>
   
    <div class="Main-Background">
        <div class="Box-Left">
            <h1 class="title">EL FUTURO DE LA GESTIÓN EMPRESARIAL!</h1>
            <a>BumerangData es el primer Cyborg <br> de gestión empresarial de nivel superior!</a>
            <button routerLink="solucion">Conocenos</button>
<!--          <a>No somos otro ERP</a>-->  
        </div>
        <div class="Box-Right">
            <div class="descriptions">
                <a class="animate__fadeInDown1">Inteligencia ArtificialL</a>
                <a class="animate__fadeInDown2">Contabildiad en tiempo real</a>
                <a class="animate__fadeInDown3">Gestor administrativo eficiente</a>
                <a class="animate__fadeInDown4">Optimización de la productividad</a>
                <a class="animate__fadeInDown5">Información confiable</a>
            </div>
        </div>
    </div>
</body>