body {
    height: 1500px;
    width: 100%;
    background: rgba($color: #E8DFDF, $alpha: 1.0);
    font-size: 100%;
    --header1: calc(2rem + 0.2vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(3.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --nav: calc(1rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}

li,
button,
label,
input,
a,
p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: var(--text);
}

h1 {
    font-family: "Ruhl Medium", sans-serif;
    font-size: var(--header1);
}

h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: var(--header2);
}

h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: var(--header3);
}

h4,
h5 {
    font-family: "Ruhl", sans-serif;
    font-size: var(--header4);
}

ul {
    font-family: "Ruhl", sans-serif;
    list-style: none;
}

a {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

p {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1vw;
}
.Main-Background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    .Box-Middle {
        height: 100%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    //Section Top
    .Section-1 {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
        align-items: center;
        text-align: left;

        .img-1 {
            width: 80%;
        }

        .right {
            width: 65%;
        }

        .left {
            width: 35%;
        }
    }

    .Section {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
        align-items: center;
        text-align: left;

    }
}