<body>
    <div class="Main-Background ">
        <div class="Section">
            <div class="Box-Middle Box">

                <div class="bottom">
                    <h1>
                        Que somos , Que ofrecemos y como lo hacemos
                    </h1>
                    <p>
                        Somos un grupo de profesionales de vasta experiencia en Gestión Empresarial ,
                        siempre dispuestos a la adaptación y transformación. Esta actitud nos condiciona y motiva
                        a focalizarnos en satisfacer necesidades antes de que ellas se transformen en impostergables e
                        ineludibles. Qué necesidades?
                        <br>
                        <br>
                        <strong>
                            Gran Sentido de Urgencia
                        </strong>
                        “Detenerse, si, detenerse a pensar y a transformar con innovación todo lo que sea necesario para
                        lograr hacer mas con menos, y así, adaptar la Administración Empresarial al tamaño y a la
                        velocidad con que gira el mundo Global.
                        <br>
                        <br>
                        <strong>
                            Creadores
                        </strong>
                        , de importantes y complejos desarrollos de IA y TI, para hacer mas en menos tiempo
                        <br>
                        <br>
                        <strong>
                            Innovadores
                        </strong>
                        , algoritmos que remplazaran en forma remota “tareas humanas grupales “ de alto consumo de
                        tiempo y energía,
                        <br>
                        <br>
                        <strong>
                            Colaborativos
                        </strong>
                        , mejoramos continuamente a aplicaciones TI sinérgicas para uso nuestro y de nuestros clientes,
                        <br>
                        <br>
                        <strong>
                            Conectados con el mundo global
                        </strong>
                        , con diversas Herramientas de TI comunicacional nos conectamos nosotros y al cliente.
                        <br>
                        <br>
                        <strong>
                            Co-creamos
                        </strong>
                        , no solo “trabajamos junto” a nuestros Clientes. Buscamos más : parte de lo que nosotros
                        hacemos es lo que elNosotros : que somos , que ofrecemos y como lo hacemos
                        Somos un grupo de profesionales de vasta experiencia en Gestión Empresarial , siempre dispuestos
                        a la adaptación y transformación. Esta actitud nos condiciona y motiva a focalizarnos en
                        satisfacer necesidades antes de que ellas se transformen en impostergables e ineludibles. Qué
                        necesidades?
                        cliente necesita y lo que el cliente hace con ello, nosotros lo volvemos a tomar, para
                        entregarlo en tiempo y forma a quienes nos lo demandan. Ello lo hacemos con la captura de la
                        data, en la generación y definición de la BigData o SmallData, y al proveer o apoyar con
                        información estratégica.
                        <strong>Tercerizamos Eficiencia y Gestión (no tareas)</strong>
                        , nuestra Cloud comienza su labor post jornada del cliente , a partir de ese momento capturamos
                        toda la información de la empresa existente en el nube, la procesamos e incorporamos a tu ERP.
                        Inmediatamente después, a primera hora de la jornada siguiente, los administrativos del cliente
                        iniciaran su nuevo día, con todo lo que necesitan y como lo necesitan.
                        Este proceso lo haremos en un continuo consistente, cíclico y adaptativo.
                        <strong>
                            Seremos parte de tu equipo,
                        </strong>
                        estaremos siempre presente sin ocupar espacio ni recursos, pensaremos, haremos la tarea,
                        supervisaremos la gestión y entregaremos un valioso insumo para tu negocio. Información
                        <br>
                        <br>
                        <strong>
                            Qué Somos?:
                        </strong>
                        no podemos decir que somos un ERP, una Consultora o que tercerizamos RRHH. Un Cyborg, una
                        conjunción de TI - IA y servicio personalizado para apoyar a nuestros clientes .
                        <br>
                        <br>
                        <strong class="Centralized">
                            “SOMOS BUMERANGDATA”
                        </strong>
                        <br>
                        <br>
                        <strong>
                            Tu decides
                        </strong>
                        , hasta aquí hemos cumplido con nuestra visión, te hemos informado lo que te ofrecemos, si ya lo tienes , muy probablemente no habrás leído hasta este punto.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>