<body>
    <div class="Main-Background ">

        <div class="Section">
            <div class="Box-Middle 3">
                <div class="top">
                    <h1 class="title">BumerangData y tu Empresa</h1>
                </div>
                <div class="content">
                    <!--<figure class="gallery__item gallery__item--1">
                        <div class="text">
                            <p>Calidad de Datos</p>
                        </div> 
                    </figure>
                    <figure class="header_arrow gallery__item gallery__item--2">
                        <img src="assets\img\Top-Arrow.png">
                    </figure>
                    -->
                    <!--TOP SIDE-->
                    <figure class="top_left_arrow gallery__item gallery__item--3">
                        <img src="assets\img\Top-Left-Arrow.png">
                    </figure>
                    <figure class="sub_header gallery__item gallery__item--4">
                        <div class="text">
                            <p>Cyborg BumerangData</p>
                        </div>
                    </figure>
                    <figure class="top_right_arrow gallery__item gallery__item--5">
                        <img src="assets\img\Top-Right-Arrow.png">
                    </figure>
                    <!--MID SIDE-->
                    <figure class="left_definition gallery__item gallery__item--6">
                        <a href="https://bumerangdata.cl/#/components/faq/questions-e" target="_blank" rel="noopener noreferrer">Trazabilidad</a>
                        <a href="https://bumerangdata.cl/#/components/faq/questions-e" target="_blank" rel="noopener noreferrer">Fiabilidad</a>
                        <a href="https://bumerangdata.cl/#/components/faq/questions-e" target="_blank" rel="noopener noreferrer">Información oportuna</a>
                        <a href="https://bumerangdata.cl/#/components/faq/questions-c" target="_blank" rel="noopener noreferrer">Auditoría externa</a>
                    </figure>
                    <figure class="right_definition gallery__item gallery__item--7">
                        <a href="https://bumerangdata.cl/#/components/faq/questions-d" target="_blank" rel="noopener noreferrer">Análisis de nivel superior</a>
                        <a href="https://bumerangdata.cl/#/components/faq/questions-d" target="_blank" rel="noopener noreferrer">Gestión documental</a>
                        <a href="https://bumerangdata.cl/#/components/faq/questions-d" target="_blank" rel="noopener noreferrer">Eficiencia operacional</a>
                        <a href="https://bumerangdata.cl/#/components/faq/questions-d" target="_blank" rel="noopener noreferrer">Parametrización incremental</a>
                    </figure>
                    <!--BOT SIDE-->
                    <figure class="bot_left_arrow gallery__item gallery__item--8">
                        <img src="assets\img\Bottom-Right-Arrow.png">
                    </figure>
                    <figure class="sub_header gallery__item gallery__item--9">
                        <div class="text">
                            <p>Empresa Cliente</p>
                        </div>
                    </figure>
                    <figure class="bot_right_arrow gallery__item gallery__item--10">

                        <img src="assets\img\Bottom-Left-Arrow.png">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</body>