body {
    height: 700px;
    width: 100%;
    background: rgba($color: #E8DFDF, $alpha: 1.0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    --header1: calc(1.2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(3.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    height: 25%;
    width: 20%;
    background: rgb(1, 2, 34);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
        color: white;
        font-size: 1rem;
        padding-left: 5px;
        padding-right: 5px;
    }
}

p {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
}

h1 {
    font-family: "Ruhl Medium", sans-serif;
    font-size: var(--header1);
}

a {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

.Main-Background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .Section {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
        align-items: center;
        background: rgba(246, 246, 246, 0.678);
        text-align: center;
        .Box-Middle {
            height: 100%;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            .right {
                width: 50%;
                .img-1 {
                    width: 100%;
                }
            }
            .left {
                width: 50%;
            }
        }
    }
}

//Section Middle
//RESPONSIVE
@media screen and (max-width: 1300px) {
    .Main-Background {
        h1 {
            font-size: 2.6rem;
        }
        p {
            font-size: 1.2rem;
        }
        .Section {
            .Box-Middle {
                width: 90%;
            }
        }
    }
}

@media screen and (max-width: 842px) {
    .Main-Background {
        p {
            font-size: 1rem;
        }
        h1 {
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .Main-Background {
        p {
            font-size: 1rem;
        }
        h1 {
            font-size: 1.5rem;
        }
        .Section {
            display: flex;
            flex-direction: column;
            .Box-Middle {
                flex-direction: column;
                width: 90%;
                .img-1 {
                    width: 100%;
                }
                .left {
                    width: 100%;
                }
                .right {
                    width: 100%;
                }
            }
        }
    }
}