<body>
    <div class="Main-Background ">
        <div class="Section">
            <div class="Box-Middle Box-1">
                <div class="left">
                    <h1>Análisis de Nivel Superior</h1>
                    <p>Registro de procesos diarios iterativos y en-Linea de todas las operaciones comerciales, lo fortalecemos con trazabilidad, control y auditoría implícita, para que la organización dedique su esfuerzo (tiempo) a desarrollar y potenciar
                        su negocio.
                    </p>
                </div>
                <div class="right">
                    <img class="img-1" alt="Working-Png" src="assets\img\Picture1.jpg">
                </div>
            </div>
        </div>
    </div>
</body>