<h1>Nosotros</h1>
<div class="Box">
    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">¿ Quienes Somos ?</p>
            <p>
                Somos un equipo compuesto de diferentes profesionales experimentados concentrados en la innovación y creación de nuevas tecnologías. Buscamos revolucionar empresas y mejorar la calidad de vida de sus integrantes. Nosotros somos la transformación digital
                de la gestión financiera, generando datos y información de calidad mientras reducimos tiempos y cargas extensivas para su empresa.
            </p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">¿ Que hacemos ?</p>
            <p>
                Formamos parte de su negocio. Nos adaptamos, identificamos y mejoramos la gestión financiera de tu empresas. Nuestras horas de trabajo diarias comienzan antes y despues de tu jornada empresarial, por lo que ofrecemos un inicio de labores óptimos. Contaras
                con la totalidad de tu información financiera en tiempo real, completa y sin errores. Nosotros lo hacemos por ti!.
            </p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">Cyborg</p>
            <p>
                Nuestro servicio es mejor representado por la palabra cyborg. Es el esfuerzo, juicio de experto y instinto humano integrado en la tecnología de los negocios. Nuestro organismo es un simbiosis empresarial, integramos nuevas tecnologías y nos apoyarnos
                mutamente (Tecnología - Profesional) asegurando resultados óptimos y esenciales para bien funcionamiento el negocio.
            </p>

        </div>
    </div>