<body>
    <div class="slider">
        <ul>
            <li>
                <div class="testament">
                    <div class="box box-1">
                        <img class="logo">
                        <div class="text">
                            <h2>Nombre de Cliente</h2>
                            <h3>Cargo</h3>
                        </div>
                    </div>
                    <div class="box box-2">
                        <p>
                            "Este texto pertenece a la experiencia de un caso exitoso con BumerangData"
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="testament">
                    <div class="box box-1">
                        <img class="logo">
                        <div class="text">
                            <h2>Nombre de Cliente</h2>
                            <h3>Cargo</h3>
                        </div>
                    </div>
                    <div class="box box-2">
                        <p>
                            "Este texto pertenece a la experiencia de un caso exitoso con BumerangData"
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="testament">
                    <div class="box box-1">
                        <img class="logo">
                        <div class="text">
                            <h2>Nombre de Cliente</h2>
                            <h3>Cargo</h3>
                        </div>
                    </div>
                    <div class="box box-2">
                        <p>
                            "Este texto pertenece a la experiencia de un caso exitoso con BumerangData"
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</body>