body {
    height: 500px;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    --header1: calc(1.2rem + 1vw);
    --header2: calc(0.7rem + 1vw);
    --header3: calc(0.4rem + 1vw);
    --header4: calc(2.4rem + 1.2vw);
    --text: calc(0.3rem + 1.2vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    background: white;
    scroll-behavior: smooth;
}

h2 {
    font-family: "Ruhl Medium", sans-serif;
    font-size: var(--header2);
    color: rgb(0, 0, 0);
    font-weight: normal;
    margin: 0;
}

h3 {
    font-family: "Ruhl Medium", sans-serif;
    font-size: var(--header3);
    color: rgb(36, 36, 36);
    font-weight: normal;
    margin: 0;
}

a {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: var(--header3);
}

p {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: var(--text);
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    min-height: 50%;
    margin: 0;
    padding: 0;
    ul {
        padding: 0;
        display: flex;
        width: 300%;
        animation: cambio 20s infinite;
        animation-direction: alternate;
    }
    li {
        list-style: none;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.testament {
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 33%);
    background: white;
    box-shadow: 3px 3px 3px #0000008a;
    .box {
        padding-left: 20px;
    }
    .box-1 {
        display: flex;
        vertical-align: middle;
        justify-content: center;
        .logo {
            background: red;
            width: 15%;
            height: 100%;
        }
        .text {
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            justify-content: center;
            width: 85%;
            height: 100%;
            text-align: left;
            padding-left: 10px;
        }
    }
    .box-2 {
        display: flex;
        text-align: left;
        justify-content: left;
        align-items: center;
    }
    .box-3 {
        display: flex;
        text-align: left;
        justify-content: left;
        align-items: center;
    }
}

//Animation
@keyframes cambio {
    0% {
        margin-left: 0;
    }
    60% {
        margin-left: 0;
    }
    70% {
        margin-left: -100%;
    }
    80% {
        margin-left: -100%;
    }
    90% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

//Responsive
@media screen and (max-width: 1000px) {
    .testament {
        width: 80%;
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    .testament {
        width: 80%;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .testament {
        width: 80%;
        height: 200px;
    }
}