<body>
    <h2>Como funciona</h2>
    <div class="top-line"></div>
    <div class="main-section">

        <div class="proceso">
            <div class="section section1 animate__animated animate__fadeInLeft">
<div class="circle circle1">1</div>
                <div class="side-text">
                    <h3>Obtenemos tus Datos</h3>
                    <p>Captuarmos datos importantes y necesarios</p>
                </div>
            </div>
            <div class="section section2 animate__animated animate__fadeInLeft">
                <div class="circle circle2">2</div>
                <div class="side-text">
                    <h3>Los procesamos</h3>
                    <p>Limpiamos y aseguramos calidad de datos</p>
                </div>
            </div>
            <div class="section section3 animate__animated animate__fadeInLeft">
                <div class="circle circle3">3</div>
                <div class="side-text">
                    <h3>Estudiamos e Identificamos</h3>
                    <p>Utilizamos el Cyborg BumerangData</p>
                </div>
            </div>
            <div class="section section4 animate__animated animate__fadeInLeft">
                <div class="circle circle4">4</div>
                <div class="side-text">
                    <h3>Datos a información</h3>
                    <p>Transformamos tus datos en información precisa</p>
                </div>
            </div>
            <div class="section section5 animate__animated animate__fadeInLeft">
                <div class="circle circle5">5</div>
                <div class="side-text">
                    <h3>Generación de informes</h3>
                    <p>Generamos informes de calidad</p>
                </div>
            </div>
            <div class="section section6 animate__animated animate__fadeInLeft">
                <div class="circle circle6">6</div>
                <div class="side-text">
                    <h3>Entrega en tiempo real</h3>
                    <p>Entregamos un producto con alto valor en tiempos optimos</p>
                </div>
            </div>
        </div>
    </div>
</body>
