body {
    min-height: 450px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/background-demo.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.demo-section {
    width: 70%;
    margin-top: 7em;
    margin-bottom: 5em;
    display: flex;
    text-align: center;
    justify-items: center;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Ruhl";
    src: url("/assets/fonts/FrankRuhlLibre-Regular.ttf");
    margin: 0px;
    font-weight: bolder;
    padding-bottom: 10px;
    font-size: 4.5em;
    //color: #E2F1F8;
    //text-shadow: 2px 2px #2a2a2a41;
}

h2 {
    font-family: "Ruhl";
    src: url("/assets/fonts/FrankRuhlLibre-Regular.ttf");
    font-size: 4.1em;
}

h3 {
    font-family: "Ruhl";
    src: url("/assets/fonts/FrankRuhlLibre-Regular.ttf");
    font-size: 3.2em;
}

h1,h2, h3 {
    color: white;
    text-shadow:
       3px 3px 0 #4056C6,
     -1px -1px 0 #4056C6,  
      1px -1px 0 #4056C6,
      -1px 1px 0 #4056C6,
       1px 1px 0 #4056C6;
}


.title {
    width: 40%;
    background-color: #4056C6;
    opacity: 85%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    border-radius: 1.3em;
}

img {
    height: 200px;
    width: 450px;    
    padding-top: 2em;
    padding-bottom: 2em;
}
video {
  width: 450px;
  height: 700px;
}

@media screen and (max-width: 1200px) { 

    h1{
        font-size: 3.2em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.4em;
    }

    video {
        width: 350px;
        height: 600px;
    }

}

@media screen and (max-width: 600px) { 

    h1{
        font-size: 2.3em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.4em;
    }

    video {
        width: 250px;
        height: 500px;
    }

    img {
        height: 100px;
        width: 200px;
    }
}