body {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    --header1: calc(1.2rem + 1vw);
    --header2: calc(0.7rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(3.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    background: rgb(2, 27, 73);
    background: linear-gradient(180deg, rgba(2, 27, 73, 1) 31%, rgba(7, 18, 39, 1) 100%);
    scroll-behavior: smooth;
}

h2 {
    font-family: "Ruhl Medium", sans-serif;
    font-size: var(--header2);
    color: white;
    font-weight: normal;
}

a {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

p {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
}

img {
    filter: invert(100%);
    opacity: 10%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    &:hover {
        opacity: 100%;
    }
}

.main-background {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .section {
        width: 30%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@media screen and (max-width: 842px) {
    body {
        min-height: 500px;
        padding-bottom: 50px;
    }
    .main-background {
        flex-direction: column;
    }
}