<body>
    <div class="Main-Background ">

        <div class="Section">
            <div class="Box-Middle 4">
                <div class="center">
                    <div class="text">
                        <h1>Parametrización Incremental</h1>
                        <p>BumerangData sin serlo rentabiliza y potencia tu ERP, ya que esta diseñado para procesar grandes volúmenes de documentos y transacciones sin errores. Implementamos metodologías de BigData de forma completa y depurado para obtener
                            un importante Volumen de información de calidad, confiable, relevante y detallada para la toma de decisiones inteligentes.
                        </p>
                    </div>
                    <div class="middle">
                        <div class="container">
                            <img class="Benefit-Img-3 img-3" alt="Working-Png" src="assets\img\Picture3.jpg">
                            <div class="gallery">
                                <figure class="gallery__item gallery__item--1">
                                    <img src="assets\img\Asset 11.png" alt="Gallery image 1" class="gallery__img">
                                    <p>Calidad de Datos</p>
                                </figure>
                                <figure class="gallery__item gallery__item--2">
                                    <img src="assets\img\Asset 10.png" alt="Gallery image 2" class="gallery__img">
                                    <p>Información de Confianza</p>
                                </figure>
                                <figure class="gallery__item gallery__item--3">
                                    <img src="assets\img\Asset 15.png" alt="Gallery image 3" class="gallery__img">
                                    <p>Análisis Completo</p>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>