<!-- <div class="container" style="display:block;width:400px; position: absolute;
top: 50%;
left: 50%;
margin-top: -150px;
margin-left: -200px;
">
    <div style="color: blue; margin-bottom: 20px; text-align: center;">
      <h1>Bumerang Server</h1>
      <h3>Subir y Descargar archivos</h3>
    </div>
   
    <form-upload></form-upload>
   
    <br/>
    <br/>
   
    <list-upload style="display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;"></list-upload>
</div> -->



<app-nav>
</app-nav>
<router-outlet></router-outlet>
<app-footer class="footer"></app-footer>