body {
    height: 100%;
    width: 100%;
    display: flex;
}

h2 {
    text-align: center;
}

.Container {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 4%;
}

.side-nav {
    padding-top: 3%;
    width: 11%;
}

.Nav-Links {
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.479);
    *:focus {
        outline: 0;
    }
    a {
        border: none;
        text-align: center;
        color: rgb(0, 0, 0);
    }
    li {
        border: none;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        &:hover {
            background: rgba(1, 2, 34, 0.61);
            width: 100%;
            a {
                color: white;
                padding: 10px;
            }
        }
    }
}

.Main-Background {
    padding-top: 3%;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f8ff;
}

@media (max-width: 1200px) {
    h2 {
        opacity: 0;
    }
    .Main-Background {
        width: 80%;
        margin-top: 30px;
    }
    .side-nav {
        width: 20%;
    }
    .Nav-Links {
        width: 100%;
        li {
            &:hover {
                background: rgba(1, 2, 34, 0.61);
                width: 20%;
                a {
                    color: white;
                    padding: 10px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    body {}
    .Main-Background {
        width: 100%;
        padding-top: 100px;
    }
    .side-nav {
        width: 100%;
        top: 10vh;
        position: fixed;
    }
    h2 {
        display: none;
    }
    .Nav-Links {
        padding: 0;
        width: 100%;
        height: 40px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        a {
            padding: 10px;
        }
    }
}

@media (max-width: 500px) {
    .side-nav {
        width: 100%;
        position: fixed;
        height: 150px;
    }
    .Nav-Links {
        a {
            font-size: 0.8rem;
            padding: 4px;
        }
    }
}

@media (max-width: 350px) {
    .Nav-Links {
        a {
            font-size: 0.7rem;
            padding: 2px;
            text-align: center;
        }
    }
}