<body>
    <div class="Container">
        <div class="side-nav">
            <h2>FAQ</h2>
            <ul class="Nav-Links">
                <li routerLink="questions-a"><a>Nosotros</a></li>
                <li routerLink="questions-b"><a>Empresa</a></li>
                <li routerLink="questions-c"><a>Gestión</a></li>
                <li routerLink="questions-d"><a>Servicio</a></li>
                <li routerLink="questions-e"><a>Beneficios</a></li>
            </ul>

        </div>
        <div class="Main-Background">
            <router-outlet></router-outlet>
        </div>
    </div>

</body>