<html>
<header class="main-head">
    <nav>
        <img id="logo" class="logo " alt="Working-Png" src="assets\img\White-logo.png">
        <input type="checkbox" class="menu-check">
        <ul class="nav-links">
            <li class="main"><a routerLink="">Home</a></li>
            <li> <a routerLink="solucion">Conócenos</a></li>
            <li><a routerLink="components/faq">FAQ</a> </li>
            <li> <a routerLink="contact">Contáctanos</a></li>
        </ul>
        <div class="burger">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
            <span class="line4"></span>
            <span class="line5"></span>
            <span class="line6"></span>
        </div>
    </nav>
</header>

</html>