body {
    min-height: 950px;
    width: 100%;
    display: flex;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/Buildings.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        width: 30%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 3%;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        .wrapper {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            width: 70%;
            text-align: center;
            padding: 1%;
            .form {
                width: 100%;
                .top-title {
                    text-align: center;
                    width: 100%;
                }
                .input-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .input {
                        justify-content: center;
                        text-align: center;
                        width: 100%;
                        padding-bottom: 10px;
                        input {
                            width: 100%;
                            padding: 1%;
                            height: 2vh;
                            border-bottom-style: solid;
                            border-bottom-width: 2px;
                            border-color: black;
                            border-top-width: 0px;
                            border-left-width: 0px;
                            border-right-width: 0px;
                            background: rgba(0, 0, 0, 0);
                            opacity: 0.8;
                            color: black;
                        }
                        .validacion {
                            display: flex;
                            justify-content: flex-start;
                            margin: 0.5% 0;
                            font-weight: bolder;
                        }
                    }
                }
                .inner-msg {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 10px;
                    .msg {
                        width: 100%;
                        textarea {
                            width: 100%;
                            padding: 1%;
                            height: 7vh;
                            margin-bottom: 0.7%;
                            opacity: 0.8;
                            border: none;
                            color: black;
                            font-family: monospace;
                            background: rgba(0, 0, 0, 0);
                            border-bottom-style: solid;
                            border-bottom-width: 2px;
                            border-color: black;
                            border-top-width: 0px;
                            border-left-width: 0px;
                            border-right-width: 0px;
                        }
                        .validacion {
                            display: flex;
                            justify-content: flex-start;
                            margin: 0.5% 0;
                            font-family: monospace;
                            font-weight: bolder;
                        }
                    }
                }
                .btn {
                    width: 102%;
                    position: relative;
                    padding: 1%;
                    margin-bottom: 0.7%;
                    border: none;
                    color: white;
                    background: Black;
                    font-family: monospace;
                    cursor: pointer;
                }
                .btn:hover {
                    opacity: 1;
                    background: rgba($color: #406E74, $alpha: 1.0);
                }
                .contactito {
                    margin-top: 1%;
                    display: flex;
                    flex-direction: column;
                    font-weight: bolder;
                    font-family: monospace;
                }
            }
        }
    }
}

.Contact {
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 1200px) {
    body {
        width: 100%;
        height: 100%;
        .Container {
            height: 100%;
            flex-direction: column;
            width: 100%;
            form {
                .top-title {
                    padding: 0%;
                }
                height:80%;
                margin-left:0px;
                width:60%;
                padding-left:0px;
            }
            .form {
                height: 90%;
                width: 60%;
                padding: 20px;
                padding-left: 0px;
            }
        }
        .text {
            text-align: center;
            padding-left: 0px;
            height: 50%;
            width: 80%;
        }
    }
}

@media (max-width: 1000px) {}

@media (max-width: 500px) {
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        .Container {
            height: 100%;
            flex-direction: column;
            width: 100%;
            form {
                .top-title {
                    padding: 0%;
                }
                height:80%;
                margin-left:0px;
                width:80%;
                padding-left:0px;
            }
            .form {
                height: 90%;
                width: 60%;
                padding: 20px;
                padding-left: 0px;
            }
        }
        .text {
            text-align: center;
            padding-left: 0px;
            height: 50%;
            width: 80%;
        }
    }
}