<body>
    <section class="Container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="Top">
                <img clas="logo" src="assets\img\Logo-Black.png">
            </div>
            <div class="wrapper">
                <div class="form">
                    <div class="input-form">

                        <div class="input">
                            <input type="text" placeholder="Email" formControlName="email">
                        </div>

                        <div class="input">
                            <input type="password" placeholder="password" formControlName="password">


                        </div>

                    </div>



                    <button type="submit" class="btn">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
        <button type="button" class="btn" (click)="onClick()">Reset</button>
        <!--      <div class="text">
  <h1>Teléfono</h1> 
            <p>+56 9 5955 8599</p>-->

        <!-- <h1>Oficina</h1>
            <p>Santiago, Ñuñoa</p> 
        </div>-->
    </section>
</body>