<body>
    <section class="Container">
        <form [formGroup]="form">
            <div class="Top-Title">
                <h1 class="Contact">BumerangData</h1>
            </div>
            <div class="wrapper">
                <div class="form">
                    <div class="input-form">

                        <div class="input">
                            <input type="text" placeholder="Nombre" formControlName="name">
                        </div>

                        <div class="input">
                            <input type="text" placeholder="password" formControlName="password">


                        </div>

                    </div>



                    <button type="submit" class="btn">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
        <!--      <div class="text">
  <h1>Teléfono</h1> 
            <p>+56 9 5955 8599</p>-->

        <!-- <h1>Oficina</h1>
            <p>Santiago, Ñuñoa</p> 
        </div>-->
    </section>
</body>