<body>
    <div class="Main-Background ">
        <div class="Section-1">
            <div class="Box-Middle Box-1">
                <div class="right">
                    <h1>Análisis de Nivel Superior</h1>
                    <p>Registro de procesos diarios iterativos y on-Line de todas las operaciones comerciales, fortaleciéndolo con trazabilidad, control y auditoría implícita, para que la organización dedique su esfuerzo (tiempo) a desarrollar y potenciar vuestro negocio.

                    </p>
                </div>
                <div class="left">
                    <img class="img-1" alt="Working-Png" src="assets\img\Picture1.jpg">
                </div>
            </div>
        </div>
        <div class="Section-2">
            <div class="Box-Middle Box-2">
                <div class="top">
                    <h1>Gestión Documental</h1>
                    <p>Nuestro Cyborg la realiza con eficiencia y eficacia en tiempo real condicionado, liberando a tus
                        colaboradores internos para desarrollar y potenciar cada unas de las unidades de negocio de la
                        empresa.</p>
                </div>
                <div class="container">
                    <div class="gallery">
                        <figure class="gallery__item gallery__item--1">
                            <img src="assets\img\Asset 1.png" alt="Gallery image 1" class="gallery__img">
                            <p>Eficiencia Operacional</p>
                        </figure>
                        <figure class="gallery__item gallery__item--2">
                            <img src="assets\img\Asset 2.png" alt="Gallery image 2" class="gallery__img">
                            <p>Información Oportuna</p>
                        </figure>
                        <figure class="gallery__item gallery__item--3">
                            <img src="assets\img\Asset 8.png" alt="Gallery image 3" class="gallery__img">
                            <p>Disponibilidad de Tiempo</p>
                        </figure>
                    </div>
                </div>
                <img class="img-2" alt="Working-Png" src="assets\img\Picture2.png">
            </div>
        </div>
        <div class="Section-3">
            <div class="Box-Middle 3">
                <h1 class="title">BumerangData y su Empresa</h1>
                <div class="container">
                    <div class="gallery">
                        <figure class="gallery__item gallery__item--1 round">
                            <p>Toma de datos de su empresa</p>
                        </figure>

                        <figure class="gallery__item gallery__item--2">
                            <img src="assets\img\Asset 31.png" alt="Gallery image 2" class="gallery__img">
                        </figure>

                        <figure class="gallery__item gallery__item--3 round">
                            <p>Procesamos y analizamos datos con nuestro Cyborg</p>
                        </figure>

                        <figure class="gallery__item gallery__item--4">
                            <img src="assets\img\Asset 31.png" alt="Gallery image 1" class="gallery__img">
                        </figure>

                        <figure class="gallery__item gallery__item--5 round">
                            <p>Generamos informes de calidad</p>
                        </figure>

                        <figure class="gallery__item gallery__item--6">
                            <img src="assets\img\Asset 31.png" alt="Gallery image 1" class="gallery__img">
                        </figure>

                        <figure class="gallery__item gallery__item--7 round">
                            <p>Informes en tiempo real en sus manos</p>
                        </figure>

                        <figure class="gallery__item gallery__item--8">
                            <img src="assets\img\Asset 31.png" alt="Gallery image 3" class="gallery__img">
                        </figure>

                    </div>
                </div>
            </div>
        </div>
        <div class="Section-4">
            <div class="Box-Middle 4">
                <div class="center">

                    <h1>Parametrización Incremental</h1>
                    <a>BumerangData Produce un volumen de información en tiempo y calidad que permite generar análisis
                        con mayor nivel de detalle.
                        Incorporando parametros específicos productos de este análisis.
                    </a>
                    <div class="middle">
                        <div class="container">
                            <img class="Benefit-Img-3 img-3" alt="Working-Png" src="assets\img\Picture3.jpg">
                            <div class="gallery">
                                <figure class="gallery__item gallery__item--1">
                                    <img src="assets\img\Asset 10.png" alt="Gallery image 1" class="gallery__img">
                                    <p>Calidad de Datos</p>
                                </figure>
                                <figure class="gallery__item gallery__item--2">
                                    <img src="assets\img\Asset 12.png" alt="Gallery image 2" class="gallery__img">
                                    <p>Información de Confianza</p>
                                </figure>
                                <figure class="gallery__item gallery__item--3">
                                    <img src="assets\img\Asset 15.png" alt="Gallery image 3" class="gallery__img">
                                    <p>Análisis Completo</p>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>