<body>
    <div class="Main-Background ">
        <div class="Section">
            <div class="Box-Middle Box">

                <div class="top">
                    <h1>
                        ¿Qué somos?
                    </h1>
                    <p>
                        Somos la solución a la gestión empresarial!
                        <br>
                        <br> BumerangData es el primer Cyborg de gestión empresarial que entrega una solución de gestión integral avanzada fortaleciendo herramientas de gestión administrativa y financieras.
                    </p>
                </div>
                <div class="bottom">
                    <div class="gallery">
                        <figure class="tooltip gallery__item gallery__item--1">
                            <img src="assets\img\Asset 3.png" alt="Gallery image 1" class="gallery__img">
                            <p>Cyborg</p>
                            <span class="tooltiptext">
                            <a href="https://bumerangdata.vercel.app/#/components/faq/questions-a" target="_blank" rel="noopener noreferrer">Somos un equipo de profesionales creadores de tecnología disruptiva que, de forma innovadora, la ponemos a tu servicio transformando digitalmente tu gestión financiera... Leer más en FAQ</a></span>
                        </figure>

                        <figure class="tooltip gallery__item gallery__item--2">
                            <img src="assets\img\Asset 8.png" alt="Gallery image 2" class="gallery__img">
                            <p>Gestión integral Avanzada</p>
                            <span class="tooltiptext">
                                <a href="https://bumerangdata.vercel.app/#/components/faq/questions-c" >Un aporte diferenciador de nuestra tecnología disruptiva es lograr una Gestión Integral, vale decir, no adicionamos mas esfuerzo y energia la “Integramos”, nuestro Cyborg captura el resultado del esfuerzo de terceros osea , clientes ,proveedores y organismos fiscalizadores  ya presentes en la web... Leer más en FAQ </a></span>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
        <div class="Section-1">
            <div class="Box-Middle Box-1">
                <div class="left">
                    <h1>Análisis de Nivel Superior</h1>
                    <p>Registro de procesos diarios iterativos y en-Linea de todas las operaciones comerciales, lo fortalecemos con trazabilidad, control y auditoría implícita, para que la organización dedique su esfuerzo (tiempo) a desarrollar y potenciar
                        su negocio.
                    </p>
                </div>
                <div class="right">
                    <img class="img-1" alt="Working-Png" src="assets\img\Picture1.jpg">
                </div>
            </div>
        </div>
        <div class="Section-2">
            <div class="Box-Middle Box-2">
                <div class="top">
                    <h1>Gestor documental inteligente y sustentable</h1>
                    <p>Nuestro Cyborg la realiza con eficiencia y eficacia en tiempo real condicionada, liberando a tus colaboradores internos para desarrollar y potenciar cada unas de las unidades de negocio de la empresa.
                    </p>
                </div>
                <div class="bottom">
                    <div class="gallery">
                        <figure class="gallery__item gallery__item--1">
                            <img src="assets\img\Asset 2.png" alt="Gallery image 1" class="gallery__img">
                            <p>Eficiencia Operacional</p>
                        </figure>
                        <figure class="gallery__item gallery__item--2">
                            <img src="assets\img\Asset 4.png" alt="Gallery image 2" class="gallery__img">
                            <p>Información Oportuna</p>
                        </figure>
                        <figure class="gallery__item gallery__item--3">
                            <img src="assets\img\Asset 5.png" alt="Gallery image 3" class="gallery__img">
                            <p>Disponibilidad de Tiempo</p>
                        </figure>
                    </div>
                    <img class="img-2" alt="Working-Png" src="assets\img\Picture2.png">
                </div>
            </div>
        </div>
        <div class="Section-3">
            <div class="Box-Middle 3">
                <div class="top">
                    <h1 class="title">BumerangData y tu Empresa</h1>
                </div>
                <div class="content">
                    <img class="structure" src="assets\img\Architecture.png">
                </div>
            </div>
        </div>
        <div class="Section-4">
            <div class="Box-Middle 4">
                <div class="center">
                    <div class="text">
                        <h1>Parametrización Incremental</h1>
                        <p>BumerangData sin serlo rentabiliza y potencia tu ERP, ya que esta diseñado para procesar grandes volúmenes de documentos y transacciones sin errores. Implementamos metodologías de BigData de forma completa y depurado para obtener
                            un importante Volumen de información de calidad, confiable, relevante y detallada para la toma de decisiones inteligentes.
                        </p>
                    </div>
                    <div class="middle">
                        <div class="container">
                            <img class="Benefit-Img-3 img-3" alt="Working-Png" src="assets\img\Picture3.jpg">
                            <div class="gallery">
                                <figure class="gallery__item gallery__item--1">
                                    <img src="assets\img\Asset 11.png" alt="Gallery image 1" class="gallery__img">
                                    <p>Calidad de Datos</p>
                                </figure>
                                <figure class="gallery__item gallery__item--2">
                                    <img src="assets\img\Asset 10.png" alt="Gallery image 2" class="gallery__img">
                                    <p>Información de Confianza</p>
                                </figure>
                                <figure class="gallery__item gallery__item--3">
                                    <img src="assets\img\Asset 15.png" alt="Gallery image 3" class="gallery__img">
                                    <p>Análisis Completo</p>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>