body {
    height: 4000px;
    width: 100%;
    background: rgba($color: #E8DFDF, $alpha: 1.0);
    display: flex;
    flex-direction: column;
    font-size: 100%;
    --header1: calc(1.2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(3.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
    background: rgb(255, 255, 255);
}

li,
button,
label,
input,
a,
p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: var(--text);
}

h1 {
    font-family: "Ruhl Medium", sans-serif;
    font-size: var(--header1);
}

h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: var(--header2);
}

h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: var(--header3);
}

h4,
h5 {
    font-family: "Ruhl", sans-serif;
    font-size: var(--header4);
}

ul {
    font-family: "Ruhl", sans-serif;
    list-style: none;
}

a {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

p {
    font-family: "Ruhl", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.4vw;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main-Background {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Box-Middle {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Section Top
.Section-1 {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    background: rgba(246, 246, 246, 0.678);
    text-align: center;
    .img-1 {
        width: 80%;
    }
    .right {
        width: 65%;
    }
    .left {
        width: 35%;
    }
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    height: 25%;
    width: 20%;
    background: rgb(1, 2, 34);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    a {
        color: white;
        font-size: 1rem;
    }
}

.Section {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    background: rgba(255, 255, 255, 0.945);
    text-align: center;
    .Box-Middle {
        flex-direction: column;
    }
    .bottom {
        height: 60%;
        width: 100%;
        .gallery {
            height: 60%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 40%);
            grid-template-rows: repeat(1, 80%);
            grid-gap: 0rem;
            justify-items: center;
            justify-content: center;
            img {
                width: 50px;
                padding: 10%;
                margin: 0%;
            }
            .gallery__item {
                background: white;
                border-radius: 3%;
                box-shadow: 3px 3px 3px 3px #aaaaaa;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                justify-items: center;
                vertical-align: middle;
                width: 80%;
                height:100% p {
                    padding: 0%;
                    margin: 0%;
                    text-align: center;
                    width: 80%;
                }
            }
        }
    }
    .top {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.Section-2 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    background: rgb(255, 255, 255);
    text-align: center;
    .Box-2 {
        display: flex;
        flex-direction: column;
        height: 90%;
        .top {
            height: 30%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            vertical-align: middle;
        }
        .bottom {
            height: 70%;
            width: 100%;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            align-items: center;
            align-content: center;
            .gallery {
                height: 50%;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 30%);
                grid-template-rows: repeat(1, 80%);
                grid-gap: 0rem;
                justify-items: center;
                justify-content: center;
                img {
                    width: 40px;
                    padding: 10%;
                    margin: 0%;
                }
            }
            .gallery__item {
                background: white;
                border-radius: 3%;
                box-shadow: 3px 3px 3px 3px #aaaaaa;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
                justify-items: center;
                vertical-align: middle;
                width: 80%;
                p {
                    padding: 0%;
                    margin: 0%;
                    text-align: center;
                    width: 80%;
                }
            }
            .gallery__item--1 {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .gallery__item--2 {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .gallery__item--3 {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
            }
            .img-2 {
                padding-top: 5%;
                height: 30%;
                width: 100%;
            }
        }
    }
}

.Section-3 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    background-image: url(/assets/img/Background2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .Box-Middle {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        vertical-align: middle;
        align-items: center;
        text-align: center;
        height: 80%;
        .top {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            vertical-align: middle;
            align-items: center;
            text-align: center;
            height: 5%;
        }
        //THIS IS THE DIAGRAM STRUCTURE
        .content {
            width: 80%;
            height: 95%;
            //GRID
            display: grid;
            grid-template-columns: repeat(3, 33%);
            grid-template-rows: repeat(10, 10%);
            grid-gap: 0rem;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            a {
                margin: 0;
                padding: 3px;
                &:hover {
                    text-decoration: underline;
                    background: rgb(1, 2, 34);
                    color: white;
                    cursor: pointer;
                    width: 100%;
                }
            }
        }
        .gallery__item {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .text {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 3%;
            vertical-align: middle;
            display: flex;
            box-shadow: 3px 3px 3px 3px #1b1b1b7e;
            flex-direction: column;
            height: 100%;
            width: 80%;
        }
        //GRID ITEMS - TITLE
        .gallery__item--1 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 1;
        }
        .gallery__item--2 {
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 2;
            img {
                width: 40%;
                padding-bottom: 3%;
            }
        }
        //GRID ITEMS - TOP SIDE
        .gallery__item--3 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 3;
            grid-row-end: 3;
            img {
                width: 40%;
                padding: 0;
                margin: 0;
                padding-left: 40%;
            }
        }
        .gallery__item--4 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            padding-top: 20%;
        }
        .gallery__item--5 {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 3;
            img {
                width: 40%;
                padding: 0;
                margin: 0;
                padding-right: 40%;
            }
        }
        //GRID ITEMS - MID SIDE
        .gallery__item--6 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 9;
            background: white;
            border-radius: 3%;
            vertical-align: middle;
            display: flex;
            box-shadow: 3px 3px 3px 3px #1b1b1b7e;
            flex-direction: column;
            height: 80%;
        }
        .gallery__item--7 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 9;
            background: white;
            border-radius: 3%;
            vertical-align: middle;
            display: flex;
            box-shadow: 3px 3px 3px 3px #1b1b1b7e;
            flex-direction: column;
            height: 80%;
        }
        //GRID ITEMS - BOT SIDE
        .gallery__item--8 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 9;
            grid-row-end: 10;
            img {
                width: 40%;
                padding: 0;
                margin: 0;
                padding-left: 40%;
            }
        }
        .gallery__item--9 {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 9;
            grid-row-end: 10;
        }
        .gallery__item--10 {
            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 9;
            grid-row-end: 10;
            img {
                width: 40%;
                padding: 0;
                margin: 0;
                padding-right: 40%;
            }
        }
    }
}

.Section-4 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    .Box-Middle {
        display: flex;
        flex-direction: column;
        align-content: center;
        vertical-align: middle;
        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50%;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-items: center;
            vertical-align: middle;
        }
        .text {
            height: 40%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            justify-items: center;
            vertical-align: middle;
        }
        img {
            width: 50%;
        }
        .gallery {
            width: 50%;
            display: grid;
            grid-template-columns: repeat(1, 2fr);
            grid-template-rows: repeat(3, 8vw);
            grid-gap: 0rem;
        }
        .gallery__item {
            padding: 0%;
            margin: 0%;
            margin-left: 20px;
            display: flex;
            align-content: left;
            justify-content: left;
            align-items: center;
            justify-items: center;
            vertical-align: middle;
            img {
                width: 40px;
                padding: 10%;
                margin: 0%;
            }
            p {
                padding: 0%;
                margin: 0%;
                text-align: left;
            }
        }
        .gallery__item--1 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
        }
        .gallery__item--2 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
        }
        .gallery__item--3 {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 3;
            grid-row-end: 3;
        }
    }
}

//Section Middle
//RESPONSIVE
@media screen and (max-width: 1300px) {
    .Main-Background {
        h1 {
            font-size: 2.6rem;
        }
        p {
            font-size: 1.2rem;
        }
        .tooltip:hover .tooltiptext {
            visibility: visible;
            height: 23%;
            width: 15%;
            background: rgb(1, 2, 34);
            color: white;
            a {
                color: white;
                font-size: 1rem;
            }
        }
        .Section {
            .tooltip:hover .tooltiptext {
                height: 23%;
                width: 33%;
                a {
                    font-size: 0.8rem;
                }
            }
            .Box-Middle {
                width: 90%;
                .content {
                    height: 90%;
                }
            }
            .gallery {
                .gallery__item {
                    width: 100;
                    padding: 0%;
                    height: 80%;
                }
            }
        }
        .Section-1 {
            display: flex;
            flex-direction: column;
            .Box-Middle {
                flex-direction: column;
                width: 90%;
            }
            .img-1 {
                width: 90%;
            }
            .left {
                width: 90%;
            }
            .right {
                width: 90%;
            }
        }
        .Section-2 {
            .Box-Middle {
                width: 90%;
                .top {
                    height: 40%;
                }
                .bottom {
                    height: 60%;
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
        .Section-3 {}
        .Section-4 {
            height: 25%;
            width: 100%;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            align-items: center;
            .Box-Middle {
                width: 90%;
                .container {
                    width: 100%;
                    height: 90%;
                }
                .text {
                    height: 40%;
                    h1 {
                        padding: 0%;
                        margin: 0%;
                    }
                }
                .middle {
                    height: 70%;
                    width: 100%;
                }
                .img-3 {
                    width: 50%;
                }
                .gallery {
                    width: 50%;
                    display: grid;
                    grid-template-columns: repeat(1, 2fr);
                    grid-template-rows: repeat(3, 7vw);
                    p {
                        font-size: 1.2rem;
                    }
                }
                .gallery__item {
                    img {
                        width: 30px;
                        padding: 10%;
                        margin: 0%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 842px) {
    body {
        height: 4000px;
    }
    .Main-Background {
        p {
            font-size: 1rem;
        }
        h1 {
            font-size: 1.5rem;
        }
        .Section-3 {
            height: 10%;
            .Box-Middle {
                width: 90%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .content {
                height: 100%;
                width: 90%;
                //GRID
                display: grid;
                grid-template-columns: repeat(3, 35%);
                grid-template-rows: repeat(10, 10%);
                grid-gap: 0rem;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                a {
                    font-size: 0.7rem;
                    margin: 0;
                    padding: 3px;
                }
            }
        }
        .Section-4 {
            .Box-Middle {
                width: 90%;
                .container {
                    width: 100%;
                    height: 90%;
                }
                .text {
                    height: 50%;
                    padding-bottom: 20px;
                    h1 {
                        padding: 0%;
                        margin: 0%;
                    }
                }
                .middle {
                    height: 50%;
                    width: 100%;
                }
                .img-3 {
                    width: 50%;
                }
                .gallery {
                    width: 50%;
                    display: grid;
                    grid-template-columns: repeat(1, 2fr);
                    grid-template-rows: repeat(3, 7vw);
                }
                .gallery__item {
                    img {
                        width: 30px;
                        padding: 10%;
                        margin: 0%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .Main-Background {
        .Section-2 {
            .Box-Middle {
                width: 80%;
                .top {
                    height: 50%;
                }
                .bottom {
                    height: 50%;
                    .gallery {
                        width: 100%;
                        grid-template-columns: repeat(3, 35%);
                        grid-template-rows: repeat(1, 80%);
                    }
                    p {
                        font-size: 0.5rem;
                    }
                }
            }
        }
        .Section-3 {
            .Box-Middle {
                a {
                    font-size: 0.5rem;
                    margin: 0;
                    padding: 1px;
                }
                .structure {
                    padding-top: 20%;
                    height: 40%;
                }
            }
        }
        .Section-4 {
            height: 25%;
            width: 100%;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            align-items: center;
            .Box-Middle {
                width: 80%;
                .container {
                    width: 100%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    vertical-align: middle;
                    align-items: center;
                }
                .text {
                    height: 40%;
                    h1 {
                        padding: 0%;
                        margin: 0%;
                    }
                }
                .middle {
                    height: 60%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    vertical-align: middle;
                    align-items: center;
                }
                .img-3 {
                    width: 100%;
                }
                .gallery {
                    width: 100%;
                    padding-top: 10%;
                    display: grid;
                    grid-template-columns: repeat(1, 2fr);
                    grid-template-rows: repeat(5, 13vw);
                }
                .gallery__item {
                    img {
                        width: 30px;
                        padding: 10%;
                        margin: 0%;
                    }
                }
            }
        }
    }
}