strong{
  color:white;
  
}
body {
    height: 800px;
    width: 100%;
    padding-bottom: 75px;
    background: rgba($color: #E8DFDF, $alpha: 1.0);
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    font-size: 100%;
    --header1: calc(4rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --text: calc(3.5rem + 1vw);
    --big: calc(6rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
    scroll-behavior: smooth;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(29,83,111,1) 47%, rgba(255,255,255,0.4066001400560224) 100%);
}
.animate__fadeInDown5 {
  animation: fadeInDown ease 13s;
  -webkit-animation: fadeInDown ease 13s;
  -moz-animation: fadeInDown ease 13s;
  -o-animation: fadeInDown ease 13s;
  -ms-animation: fadeInDown ease 13s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
} 
  
//FADE OUT EFFECT  
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.animate__fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}
button{
    width: 120px;
    background-color: #e9dd36; /* Green */
    border-radius: 3%;
    border-color: #e8dfdf00;
    color: black;
    padding: 5px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    &:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      }
}
h1 {
    font-size: var(--header1);
    color:white;
}

.subtitle{
  font-weight: lighter;
  font-size: 2rem ;
  color: rgba(255, 255, 255, 0.589);
}

li,

label,
input,
a,
p {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: var(--text);
}

h2 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: var(--header2);
}

h3 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: var(--header3);
}

h4,
h5 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    font-size: var(--header4);
}

ul {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    list-style: none;
}

a {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    padding-top:5px;
    padding-bottom:10px;

}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    margin:0px;
}

.Box-Middle {
    padding-top:200px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    justify-items: center;
    align-items: center ;
    .pad{

      width:50%;
    }
}


.Main-Background {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    

}

.clouds{
    display:flex;
    align-content: flex-end;
    justify-content: flex-end;
    vertical-align: bottom;
    width:100%;
    position: absolute;
    z-index: 10;
    top:65%;


    img{
        width:100%;
    }
}

//FADE IN EFFECT
.text1 {
  animation: fadeIn ease 15s;
  -webkit-animation: fadeIn ease 15s;
  -moz-animation: fadeIn ease 15s;
  -o-animation: fadeIn ease 15s;
  -ms-animation: fadeIn ease 15s;
}
.text2 {
  animation: fadeIn ease 17s;
  -webkit-animation: fadeIn ease 17s;
  -moz-animation: fadeIn ease 17s;
  -o-animation: fadeIn ease 17s;
  -ms-animation: fadeIn ease 17s;
}
.text3 {
  animation: fadeIn ease 19s;
  -webkit-animation: fadeIn ease 19s;
  -moz-animation: fadeIn ease 19s;
  -o-animation: fadeIn ease 19s;
  -ms-animation: fadeIn ease 19s;
}
.text4 {
  animation: fadeIn ease 21s;
  -webkit-animation: fadeIn ease 21s;
  -moz-animation: fadeIn ease 21s;
  -o-animation: fadeIn ease 21s;
  -ms-animation: fadeIn ease 21s;
}
.text5 {
  animation: fadeIn ease 23s;
  -webkit-animation: fadeIn ease 23s;
  -moz-animation: fadeIn ease 23s;
  -o-animation: fadeIn ease 23s;
  -ms-animation: fadeIn ease 23s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
  }


//FADE OUT EFFECT  
@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.animate__fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}



//ANIMATION


@media screen and (max-width: 1200px) {
    .Main-Background {

        .Box-Right {
            width: 100%;
            text-align: center;

            .Welcome-Img {
                height: 400px;
                width: 400px;
            }

        }

    }
}

@media screen and (max-width: 842px) {
    .Main-Background {
        flex-direction: column;

        .Box-Left {
            width: 100%;
            text-align: center;

            a {
                font-size: 3vw;
            }
        }

        .Box-Right {
            width: 100%;
            text-align: center;

            .Welcome-Img {
                height: 300px;
                width: 300px;
            }

        }

    }

}

