<div class="Box">
    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">¿En cuanto tiempo esta operativa la solución?</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a elementum placerat, eros nibh consequat ligula, eu mollis sapien arcu at dolor.
            </p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">¿Que información entrega?</p>
            <p>
                Toda aquella información que la empresa requiera y este en condiciones de autogenerar</p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">¿Es algo que debo instalar o debe ser instalado?</p>
            <p>
                No, es un complemento a vuestro ERP nuestro servicios consiste en entregas y consultoria. Tendras todo lo que necesitas directamente a traves de nuestra plataforma. </p>
        </div>
        <div class="faq_question faq-question--4">
            <p class="faq-question-title">Pregunta 4</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a elementum placerat, eros nibh consequat ligula, eu mollis sapien arcu at dolor.
            </p>
        </div>
        <div class="faq_question faq-question--5">
            <p class="faq-question-title">Pregunta 5</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a elementum placerat, eros nibh consequat ligula, eu mollis sapien arcu at dolor.
            </p>
        </div>
        <div class="faq_question faq-question--6">
            <p class="faq-question-title">Pregunta 6</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a elementum placerat, eros nibh consequat ligula, eu mollis sapien arcu at dolor.
            </p>
        </div>
    </div>