<h1>Gestión</h1>
<div class="Box">

    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">¿En cuanto tiempo esta operativa la solución?</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">¿Que información entrega?</p>
            <p>
                Fabricamos y entregamos información oportuna. Proveemos datos relevantes y procesados, en si transformandolo en información de calidad. Información de apoyo a la gestión operativa de diversos cargos/funciones críticas. Proveemos un rango y variedad de
                información tales como:
                <br>
                <br> - Tesorería/bancos
                <br> - Compras bodegas<br> - Cliente/cobranza<br> - Mejorando la ejecución y el control de la tarea por si mismo<br><br> Información de supervisión de procesos de gestión en cuanto a calidad y oportunidad de las labores tales como :<br><br>                - Ingreso/salida de bodega <br> - Pago proveedores <br> - Cobranza clientes <br> - Facturación de cobranza<br> - Importaciones<br> <br>Información de control y gestión del negocio en su conjunto <br><br> - Estado de resultados <br> - Balance
                general por área de negocios <br> - Centro de costos, en doble moneda y/o de control presupuestaria.<br> <br>Dependerán del grado de madurez que la empresa y tenga o de herramientas que deban ser desarrolladas o implementadas en el proceso
                de puesta en marcha de BumerangData</p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">Auditoría externa</p>
            <p>
                No, es un complemento a vuestro ERP nuestro servicios consiste en entregas y consultoria. Tendras todo lo que necesitas directamente a traves de nuestra plataforma. </p>
        </div>
        <div class="faq_question faq-question--4">
            <p class="faq-question-title">Análisis Completo</p>
            <p>



                Continuar escribiendo Realizamos un análisis completo del comportamiento y funcionamiento de tu empresa para luego aplicar las mejores medidas al ejecutar procesos BumerangData.
            </p>
        </div>

    </div>