<body>
  <div class="Main-Background section">
    <div class="Main-Title">
      <h2 class="title">NUESTROS SERVICIOS</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="column ml-auto">
          <div class="card revealOnScroll">
            <div class="card-title-text">
              <h2>Modulo 1</h2>
            </div>
            <div class="card-price-text">
              <h3>PRECIO: $1000</h3>
            </div>
            <div class="card-description-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                auctor lorem nec ante lobortis, sit amet laoreet eros posuere.
                Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla.
                Praesent elementum ullamcorper lacinia. Aenean scelerisque
                tellus erat, sit amet scelerisque nisl placerat nec. Fusce id
                tempor turpis. Praesent id vehicula lorem. Fusce et dui sed
                lacus dignissim auctor. Duis bibendum tristique orci, tincidunt
                cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a
                elementum placerat, eros nibh consequat ligula, eu mollis sapien
                arcu at dolor.
              </p>
            </div>
            <button class="btn">Cotizar</button>
          </div>
        </div>
        <div class="column ml-auto">
          <div class="card revealOnScroll">
            <div class="card-title-text">
              <h2>Modulo 2</h2>
            </div>
            <div class="card-price-text">
              <h3>Precio</h3>
            </div>
            <div class="card-description-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                auctor lorem nec ante lobortis, sit amet laoreet eros posuere.
                Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla.
                Praesent elementum ullamcorper lacinia. Aenean scelerisque
                tellus erat, sit amet scelerisque nisl placerat nec. Fusce id
                tempor turpis. Praesent id vehicula lorem. Fusce et dui sed
                lacus dignissim auctor. Duis bibendum tristique orci, tincidunt
                cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a
                elementum placerat, eros nibh consequat ligula, eu mollis sapien
                arcu at dolor.
              </p>
            </div>
            <button class="btn">Cotizar</button>
          </div>
        </div>
        <div class="column ml-auto">
          <div class="card revealOnScroll">
            <div class="card-title-text">
              <h2>Modulo 3</h2>
            </div>
            <div class="card-price-text">
              <h3>PRECIO: $1000</h3>
            </div>
            <div class="card-description-text">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                auctor lorem nec ante lobortis, sit amet laoreet eros posuere.
                Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla.
                Praesent elementum ullamcorper lacinia. Aenean scelerisque
                tellus erat, sit amet scelerisque nisl placerat nec. Fusce id
                tempor turpis. Praesent id vehicula lorem. Fusce et dui sed
                lacus dignissim auctor. Duis bibendum tristique orci, tincidunt
                cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a
                elementum placerat, eros nibh consequat ligula, eu mollis sapien
                arcu at dolor.
              </p>
            </div>
            <button class="btn">Cotizar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
