<h1>Servicio</h1>
<div class="Box">

    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">Análisis de nivel superior</p>
            <p>
                Registro de procesos diarios iterativos y on-Line Diariamente BumerangData es quien procesa e incorpora a tu ERP y Big Data las transacciones comerciales realizadas por tus Gestores Administrarivos, proveedores, clientes y organismos fiscalizadores. Lo
                haremos en tiempo real condicionado para asegurar calidad e instancias de control oportuno y efectivo

            </p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">Gestión documental</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">Eficiencia operacional</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--4">
            <p class="faq-question-title">Parametrización incremental</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--5">
            <p class="faq-question-title">Pregunta 5</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--6">
            <p class="faq-question-title">Pregunta 6</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a elementum placerat, eros nibh consequat ligula, eu mollis sapien arcu at dolor.
            </p>
        </div>
    </div>