<div class="Box">
    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">Pregunta 1</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">Pregunta 2</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">Pregunta 3</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--4">
            <p class="faq-question-title">Pregunta 4</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--5">
            <p class="faq-question-title">Pregunta 5</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--6">
            <p class="faq-question-title">Pregunta 6</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,
                vitae auctor ligula pharetra egestas. Quisque sagittis, nisl a elementum placerat, eros nibh consequat ligula, eu mollis sapien arcu at dolor.
            </p>
        </div>
    </div>