<h1>Servicio</h1>
<div class="Box">

    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">Análisis de nivel superior</p>
            <p>
                Estudiamos y analizamos el comportamiento completo de tu empresa. Identificamos problemas y posibles mejoras para luego aplicarlas de tal manera beneficiando a tu negocio. Profundizamos el estudio de tus datos diarios y a largo plazo para luego desarrollar
                un estudio completo. Proveemos una gestión completa en base a la investigación detallada del funcionamiento y procesamiento diario del negocio.
            </p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">Gestión documental</p>
            <p>
                Gestionamos todo producto y entrégale del área financiero/contabilidad. Estudiamos e informamos de estándares y rendimiento operacional para siempre estar atento gobernando el bueno funcionamiento del negocio. La comprensión y transmisión de información
                es esencial y beneficio para toda empresa, ya que la buena comunicación forma un fuerte pilar.
            </p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">Eficiencia operacional</p>
            <p>
                Tu empresa con BumerangData se beneficia de la redición tiempos, menos errores, y mejores resultados. Junto con nuestro apoyo, transformamos tus procesos en una versión óptima y mejorada, con un alto margen de éxito en fabricar datos e información de
                alto valor. Mejoramos procesos del negocio de tal modo optimizando el negoció como entidad, prometiendo la eficiencia de cada paso, recurso y proceso que BumerangData afecta.
            </p>
        </div>
        <div class="faq_question faq-question--4">
            <p class="faq-question-title">Parametrización incremental</p>
            <p>
                Los ERP hoy en día, requieren de mucha información y relleno de parametros para que rutinas y funcionalidades se ejecuten correctamente. Para apoyar estos procesos y ejecutar de forma óptima se requiere de mucha experiencia con diferentes ERPs en varios
                negocios.
            </p>
        </div>
    </div>