<h1>Beneficios</h1>
<div class="Box">

    <div class="Gallery">
        <div class="faq_question faq-question--1">
            <p class="faq-question-title">Trazabilidad</p>
            <p>
                Trazabilidad y control son conceptos absolutamente complementarios que desde el punto de vista del registro o incorporación al bigdata , colateralmente producen rigidez en los procesos administrativos y/o ERP. Bumerangdata incorpora el Registro Integral
                Controlado para que la pequeña y mediana empresa no sacrifique la calidad de sus controles y pueda sin temor mantener su ventaja frente a la gran empresa, Flexibilidad y Agilidad
            </p>
        </div>
        <div class="faq_question faq-question--2">
            <p class="faq-question-title">Fiabilidad</p>
            <p>
                BumerangData es un sistema de alta fiabilidad. Nuestro sistema esta creado con la intención de proveer un servicio de alta compatibilidad, nosotros nos basamos en sus necesidades formando un servicio a medida, con el enfoque de generar una correcta implementación
                asegurando el éxito de su empresa apoyado por nuestros servicios.
            </p>
        </div>
        <div class="faq_question faq-question--3">
            <p class="faq-question-title">Información oportuna</p>
            <p>
                Al tomar datos, lo analizamos y transformamos en información valiosa con el propósito de beneficiar al cliente. Dicha información no solamente cumple su función principal en informar al lector o apoyar al estudio, sino que adicionalmente permite identificar
                oportunidades o presentar datos particulares generando un valor extra por su uso cuando sea necesario.
            </p>
        </div>
        <div class="faq_question faq-question--4">
            <p class="faq-question-title">Información de confianza</p>
            <p>
                Hoy en día, la certitud de los datos es esencial para el buen funcionamiento de un negocio. Dentro de nuestros procesos realizamos numerosas busquedas identificando errores y pequeños detalles que en un recorrido normal no son observados. devolvemos la
                confianza y fe en los datos de su negocio.
            </p>
        </div>
        <div class="faq_question faq-question--5">
            <p class="faq-question-title">Rentabiliza y potencia tu ERP</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor lorem nec ante lobortis, sit amet laoreet eros posuere. Sed pretium lacus ac ipsum malesuada, eu luctus felis fringilla. Praesent elementum ullamcorper lacinia. Aenean scelerisque tellus
                erat, sit amet scelerisque nisl placerat nec. Fusce id tempor turpis. Praesent id vehicula lorem. Fusce et dui sed lacus dignissim auctor. Duis bibendum tristique orci, tincidunt cursus ex consequat iaculis. Aliquam tristique luctus augue,

            </p>
        </div>
        <div class="faq_question faq-question--6">
            <p class="faq-question-title">Calidad de datos</p>
            <p>
                Cada dato forma parte de una estructura de información, donde cada valor y tipo de dato provee valor e información de forma limpia, rápida y exacta.
            </p>
        </div>
    </div>