<body>
    <div class="Main-Background ">
        <div class="Section">
            <div class="Box-Middle Box">
                <div class="top">
                    <h1>
                        ¿Qué somos?
                    </h1>
                    <p>
                        Somos la solución a la gestión empresarial!
                        <br>
                        <br> BumerangData es el primer Cyborg de gestión empresarial que entrega una solución de administracion integral avanzada fortaleciendo herramientas de gobernaza administrativa y financieras.
                    </p>
                </div>
                <div class="bottom">
                    <div class="gallery">
                        <figure class="tooltip gallery__item gallery__item--1">
                            <img src="assets\img\Asset 3.png" alt="Gallery image 1" class="gallery__img">
                            <p>Cyborg</p>
                            <span class="tooltiptext">
                                <a href="https://bumerangdata.cl/#/components/faq/questions-a" target="_blank"
                                    rel="noopener noreferrer">Nuestro servicio es mejor representado por la palabra cyborg. Es el esfuerzo, juicio de experto y instinto humano integrado en la tecnología de los negocios. Nuestro organismo es un simbiosis empresarial... Leer más en FAQ</a></span>
                        </figure>

                        <figure class="tooltip gallery__item gallery__item--2">
                            <img src="assets\img\Asset 8.png" alt="Gallery image 2" class="gallery__img">
                            <p>Gestión integral Avanzada</p>
                            <span class="tooltiptext">
                                <a href="https://bumerangdata.cl/#/components/faq/questions-c" target="_blank"
                                    rel="noopener noreferrer">Un aporte diferenciador de nuestra tecnología disruptiva
                                    es lograr una Gestión Integral, vale decir, no adicionamos mas esfuerzo y energia la
                                    “Integramos”, nuestro Cyborg captura el resultado del esfuerzo de terceros... Leer
                                    más en FAQ </a></span>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>