<html>
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="column about-us">
          <p class="aboutus-title">SOBRE NOSOTROS</p>
          <p class="aboutus-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            sed placerat urna, eu placerat odio. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Donec ante
            quam, vestibulum vitae maximus vitae, blandit vitae justo. Curabitur
            sodales euismod mi blandit tristique.
          </p>
        </div>
        <div class="column about-us">
          <p class="aboutus-title">MISION</p>
          <p class="aboutus-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            sed placerat urna, eu placerat odio. Orci varius natoque penatibus
            et magnis dis parturient montes, nascetur ridiculus mus. Donec ante
            quam, vestibulum vitae maximus vitae, blandit vitae justo. Curabitur
            sodales euismod mi blandit tristique.
          </p>
        </div>
        <div class="column col-links">
          <ul class="footer-links">
            <li class="footer-links-title">ENLACES RAPIDOS</li>
            <li class="footer-links-text" (click)="toWelcome()">
              <a>Intro</a>
            </li>
            <li class="footer-links-text" (click)="toBenefits()">
              <a>Beneficios</a>
            </li>
            <li class="footer-links-text" (click)="toAboutUs()">
              <a>Nosotros</a>
            </li>
            <li class="footer-links-text" (click)="toServices()">
              <a>Paquetes</a>
            </li>
            <li class="footer-links-text" (click)="toContact()">
              <a>Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="footer-final">
          <p>
            Copyright © 2020 Todos los derechos reservados por Bumerangdata.
          </p>
        </div>
      </div>
    </div>
  </footer>
</html>
