<html>
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="column about-us">
          <p class="aboutus-title">VISIÓN</p>
          <p class="aboutus-text">
            Co-crearemos una moderna forma de gestión empresarial. La data que tus gestores administrativos crearon y enviaron a la nube, las haremos circular como el vuelo del búmeran, al procesar su retorno y reincorporarla, de manera rápida y veraz. Juntos, en forma sustentable y flexible, mejoraremos tu calidad de vida y la de tus colaboradores posibilitando y facilitando la inclusión y participación eficaz. 
          </p>
        </div>
        <div class="column about-us">
          <p class="aboutus-title">MISIÓN</p>
          <p class="aboutus-text">
            En BumerangData trabajamos para aportar tecnología y servicios de administración a la empresa chilena, sin importar su tamaño o rubro, al alcance de todos. Nos sumamos a tu equipo de trabajo interno para hacer de tus procesos administrativos una herramienta eficaz  para  nuestra sociedad en general y así juntos generemos valor para empleados y accionistas.
          </p>
        </div>
        <div class="column col-links">
          <ul class="footer-links">
            <li class="footer-links-title">ENLACES RAPIDOS</li>
            <li class="footer-links-text" routerLink="">
              <a>Home</a>
            </li>
            <li class="footer-links-text" routerLink="solucion">
              <a>Conócenos</a>
            </li>
            <li class="footer-links-text" routerLink="contact">
              <a>Contáctanos</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="footer-final">
          <p>
            Copyright © 2020 Todos los derechos reservados por Bumerangdata.
          </p>
        </div>
      </div>
    </div>
  </footer>
</html>
